:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  /* url(images/rocket_all.svg) 98% center no-repeat, */
  background: url(images/top-image.svg) no-repeat center top/100%, url(images/bottom-image.svg) no-repeat center bottom/100%;
  height: 100vh;
  display: flex;
}

.countdown-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rocket-container {
  height: auto;
  background: var(--purple) url(images/sky.svg) center center;
  height: 450px;
  position: absolute;
  left: 2%;
  z-index: -1;
  top: 25%;
}

.clip-me {
  clip-path: path('M529.91,332.44a74.8,74.8,0,0,1-14.81-.2c-54.07-6-127.7-4.27-187.72,32.89-83,51.38-213.1,7.39-270.49-16.54C13.05,330.31-9.72,285.55,4,243.53c.19-.59.39-1.19.59-1.78,8.61-25,25.59-44.51,46.62-54.87,18.33-9,45.09-27.89,57-64.11a153.55,153.55,0,0,1,20.43-41.3C152.07,48.62,201.2-.3,285.7,0a136.33,136.33,0,0,1,43.53,7.36c30.87,10.51,58.75,31.88,80,61.5,13.56,18.89,33.89,36.45,63,37.88,40.39,2,78.94,20.79,107.86,54.23.83,1,1.65,1.92,2.48,2.9C634.07,225.16,598.3,326.47,529.91,332.44Z');
}

h1 {
  font-size: 2.3em;
  color: var(--purple);
  font-weight: 700;
  letter-spacing: 5px;
}

.countdown {
  display: flex;
  width: 80%;
  height: 125px;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown > div:nth-child(even) {
  justify-content: end;
}

.countdown > div > span:nth-child(odd) {
  font-size: .85em;
  color: var(--text-color);
}

.countdown > div > span:nth-child(even), .countdown > div:nth-child(even) {
  font-size: 4em;
  font-weight: 500;
  color: var(--black);
}

.signup-intro {
  font-size: 1em;
  color: var(--text-color);
}

button {
  border: none;
  border-radius: 10px;
  background-color: var(--purple);
  padding: 12px 30px;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  margin-top: 25px;
  cursor: pointer;
}

button:hover {
  position: relative;
  left: -1px;
  top: -1px;
  box-shadow: 2px 2px 8px #afafaf;
}