:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  /* url(images/rocket_all.svg) 98% center no-repeat, */
  background: url(images/top-image.svg) no-repeat center top/100%, url(images/bottom-image.svg) no-repeat center bottom/100%;
  height: 100vh;
  display: flex;
}

.countdown-container {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rocket-container {
  width: 50%;
  padding: 15px;
  display: block;
  align-self: center;
  z-index: -1;
  position: absolute;
  left: 48%;
}

.svg {
  position: absolute;
  width: 0;
  height: 0; 
}

.clipped {
  width: 100%;
  padding-bottom: 64%;
  background: #6C63FF url(images/sky.svg);
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
  animation: stars 70s linear infinite;
}

@keyframes stars {
  100% {background-position: 0 -6000%;}
}

.rocket-svg {
  position: absolute;
  z-index: 2;
  width: 25%;
  left: 35%;
  top: -12%;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {transform: translate3d(0px, 0px, 0);}
  50% {transform: translate3d(0px, -10px, 0);}
  100% {transform: translate3d(0px, 0px, 0);}
}

.exhaust-flame {
  position: absolute;
  width: 1.9%;
  background: linear-gradient(to bottom, rgba(180,58,58,1) 0%, rgba(252,176,69,0.85) 55%, rgba(255,196,0,0) 90%);
  height: 18%;
  animation: exhaust 0.25s infinite, bounce 2s infinite;
  z-index: 1;
  top: 68%;
}

.pos1 {
  left: 37.5%;
  height: 12%;
}

.pos2 {
  left: 44.5%;
}

.pos3 {
  left: 48.85%;
}

.pos4 {
  left: 56%;
  height: 12%;
}

@keyframes exhaust {
  0% {background: linear-gradient(to bottom, rgba(180,58,58,1) 2%, rgba(252,176,69,0.75) 57%, rgba(255,196,0,0) 92%);}
  50% {background: linear-gradient(to bottom, rgba(180,58,58,1) 5%, rgba(252,176,69,0.85) 60%, rgba(255,196,0,0) 100%);}
  75% {background: linear-gradient(to bottom, rgba(180,58,58,1) 2%, rgba(252,176,69,0.75) 57%, rgba(255,196,0,0) 92%);}
}

h1 {
  font-size: 2.3em;
  color: var(--purple);
  font-weight: 700;
  letter-spacing: 5px;
}

#ready {
  font-size: 4em;
  font-weight: 500;
  color: var(--black);
  display: none;
}

.countdown {
  display: flex;
  width: 80%;
  height: 125px;
  justify-content: center;
  align-items: end;
  gap: 20px;
}

.countdown > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 5%;
}

.countdown > div:nth-child(even) {
  justify-content: end;
}

.countdown > div > span:nth-child(odd) {
  font-size: .85em;
  color: var(--text-color);
}

.countdown > div > span:nth-child(even), .countdown > div:nth-child(even) {
  font-size: 4em;
  font-weight: 500;
  color: var(--black);
}

.signup-intro {
  font-size: 1em;
  color: var(--text-color);
}

button {
  border: none;
  border-radius: 10px;
  background-color: var(--purple);
  padding: 12px 30px;
  font-weight: 400;
  font-size: 1em;
  color: #FFFFFF;
  margin-top: 25px;
  cursor: pointer;
}

button:hover {
  position: relative;
  left: -1px;
  top: -1px;
  box-shadow: 2px 2px 8px #afafaf;
}